[submodule "deps/unity"]
	path = deps/unity
	url = https://github.com/ThrowTheSwitch/Unity
	branch = master
[submodule "deps/extract-offsets"]
	path = deps/extract-offsets
	url = https://github.com/mlyapin/gcc-extract-offsets.git
